<!--<footer class="main-footer">-->
<!--    <div class="footer-left">-->
<!--        © 2025–<span id="year"></span> {{squeryset.branch.organization.name}}-->
<!--    </div>-->

<!--        <span>Powered by Rafik Systems</span>-->
<!--</footer>-->
<!--&lt;!&ndash;For footer date&ndash;&gt;-->
<!--<script>-->
<!--    document.getElementById("year").innerHTML = new Date().getFullYear();-->
<!--</script>-->

<!--For footer date ends-->
<footer class="main-footer">

    <div class="footer-left">
        <strong>&copy; {% now "Y" %}</strong>
        <span>{{ squeryset.branch.organization.name }}</span>
    </div>

    <div class="footer-right">

        <div class="system-status">
            <span class="status-dot"></span>
            <span>System Online</span>
        </div>

        <span class="text-muted small">v1.0</span>

    </div>

</footer>